.element {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:670px) {
    .element {
        margin-left: 27px;
        margin-right: 27px;
    }
}

@media screen and (max-width:450px) {
    .element {
        margin-left: 19px;
        margin-right: 19px;
    }
}